<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Business_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONNECTING TO OUR DATABASE

LOADING OUR DATASETS

In [ ]:
#Population dataset
with open('Population_by_state.csv','r')as f:
     Population=pd.read_csv(f,index_col=0,encoding='utf-8')
%sql DROP TABLE if EXISTS Population;
%sql PERSIST Population;
%sql SELECT *FROM Population LIMIT 5;

DATA CLEANING

In [ ]:
#Converting the states in GrandElectors to Uppercase
%sql UPDATE GrandElectors SET State=UPPER(State)
%sql SELECT *FROM GrandElectors LIMIT 5;

 * sqlite://
51 rows affected.
 * sqlite://
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55)]

In [ ]:
#Merging the two tables on the State key. We create a new table called Mergedtable1
%%sql
CREATE TABLE  Mergedtable1 AS SELECT State,Population,GrandElectors
FROM (SELECT*FROM Population INNER JOIN GrandElectors
                  ON Population.State=GrandElectors.State)

 * sqlite://
Done.

[]

In [ ]:
#Displaying the Mergedtable
%%sql
SELECT *FROM Mergedtable1;

 * sqlite://
Done.

[('CALIFORNIA', 39144818, 55),
 ('TEXAS', 27469114, 38),
 ('FLORIDA', 20271272, 29),
 ('NEW YORK', 19795791, 29),
 ('ILLINOIS', 12859995, 20),
 ('PENNSYLVANIA', 12802503, 20),
 ('OHIO', 11613423, 18),
 ('GEORGIA', 10214860, 16),
 ('NORTH CAROLINA', 10042802, 15),
 ('MICHIGAN', 9922576, 16),
 ('NEW JERSEY', 8958013, 14),
 ('VIRGINIA', 8382993, 13),
 ('WASHINGTON', 7170351, 12),
 ('ARIZONA', 6828065, 11),
 ('MASSACHUSETTS', 6794422, 11),
 ('INDIANA', 6619680, 11),
 ('TENNESSEE', 6600299, 11),
 ('MISSOURI', 6083672, 10),
 ('MARYLAND', 6006401, 10),
 ('WISCONSIN', 5771337, 10),
 ('MINNESOTA', 5489594, 10),
 ('COLORADO', 5456574, 9),
 ('SOUTH CAROLINA', 4896146, 9),
 ('ALABAMA', 4858979, 9),
 ('LOUISIANA', 4670724, 8),
 ('KENTUCKY', 4425092, 8),
 ('OREGON', 4028977, 7),
 ('OKLAHOMA', 3911338, 7),
 ('CONNECTICUT', 3590886, 7),
 ('IOWA', 3123899, 6),
 ('UTAH', 2995919, 6),
 ('MISSISSIPPI', 2992333, 6),
 ('ARKANSAS', 2978204, 6),
 ('KANSAS', 2911641, 6),
 ('NEVADA', 2890845, 6),
 ('NEW MEXICO', 2085109, 5),
 ('NEBRASKA', 1896190, 5),
 ('WEST VIRGINIA', 1844128, 5),
 ('IDAHO', 1654930, 4),
 ('HAWAII', 1431603, 4),
 ('NEW HAMPSHIRE', 1330608, 4),
 ('MAINE', 1329328, 4),
 ('RHODE ISLAND', 1056298, 4),
 ('MONTANA', 1032949, 3),
 ('DELAWARE', 945934, 3),
 ('SOUTH DAKOTA', 858469, 3),
 ('NORTH DAKOTA', 756927, 3),
 ('ALASKA', 738432, 3),
 ('DISTRICT OF COLUMBIA', 672228, 3),
 ('VERMONT', 626042, 3),
 ('WYOMING', 586107, 3)]

In [ ]:
#Now we change "District of Columbia" to "DC"
%%sql
UPDATE Mergedtable1
SET State="DC"
WHERE State="DISTRICT OF COLUMBIA";
SELECT *FROM Mergedtable1;

 * sqlite://
1 rows affected.
Done.

[('CALIFORNIA', 39144818, 55),
 ('TEXAS', 27469114, 38),
 ('FLORIDA', 20271272, 29),
 ('NEW YORK', 19795791, 29),
 ('ILLINOIS', 12859995, 20),
 ('PENNSYLVANIA', 12802503, 20),
 ('OHIO', 11613423, 18),
 ('GEORGIA', 10214860, 16),
 ('NORTH CAROLINA', 10042802, 15),
 ('MICHIGAN', 9922576, 16),
 ('NEW JERSEY', 8958013, 14),
 ('VIRGINIA', 8382993, 13),
 ('WASHINGTON', 7170351, 12),
 ('ARIZONA', 6828065, 11),
 ('MASSACHUSETTS', 6794422, 11),
 ('INDIANA', 6619680, 11),
 ('TENNESSEE', 6600299, 11),
 ('MISSOURI', 6083672, 10),
 ('MARYLAND', 6006401, 10),
 ('WISCONSIN', 5771337, 10),
 ('MINNESOTA', 5489594, 10),
 ('COLORADO', 5456574, 9),
 ('SOUTH CAROLINA', 4896146, 9),
 ('ALABAMA', 4858979, 9),
 ('LOUISIANA', 4670724, 8),
 ('KENTUCKY', 4425092, 8),
 ('OREGON', 4028977, 7),
 ('OKLAHOMA', 3911338, 7),
 ('CONNECTICUT', 3590886, 7),
 ('IOWA', 3123899, 6),
 ('UTAH', 2995919, 6),
 ('MISSISSIPPI', 2992333, 6),
 ('ARKANSAS', 2978204, 6),
 ('KANSAS', 2911641, 6),
 ('NEVADA', 2890845, 6),
 ('NEW MEXICO', 2085109, 5),
 ('NEBRASKA', 1896190, 5),
 ('WEST VIRGINIA', 1844128, 5),
 ('IDAHO', 1654930, 4),
 ('HAWAII', 1431603, 4),
 ('NEW HAMPSHIRE', 1330608, 4),
 ('MAINE', 1329328, 4),
 ('RHODE ISLAND', 1056298, 4),
 ('MONTANA', 1032949, 3),
 ('DELAWARE', 945934, 3),
 ('SOUTH DAKOTA', 858469, 3),
 ('NORTH DAKOTA', 756927, 3),
 ('ALASKA', 738432, 3),
 ('DC', 672228, 3),
 ('VERMONT', 626042, 3),
 ('WYOMING', 586107, 3)]

RATIO CALCULATION

In [ ]:
#We compute the ratio between the GrandElectors and the Population creating a new column to store the output
#we will first create a new column in our new table Mergedtable
%%sql
ALTER TABLE Mergedtable1 ADD Ratio;
SELECT *FROM Mergedtable1;

 * sqlite://
Done.
Done.

[('CALIFORNIA', 39144818, 55, None),
 ('TEXAS', 27469114, 38, None),
 ('FLORIDA', 20271272, 29, None),
 ('NEW YORK', 19795791, 29, None),
 ('ILLINOIS', 12859995, 20, None),
 ('PENNSYLVANIA', 12802503, 20, None),
 ('OHIO', 11613423, 18, None),
 ('GEORGIA', 10214860, 16, None),
 ('NORTH CAROLINA', 10042802, 15, None),
 ('MICHIGAN', 9922576, 16, None),
 ('NEW JERSEY', 8958013, 14, None),
 ('VIRGINIA', 8382993, 13, None),
 ('WASHINGTON', 7170351, 12, None),
 ('ARIZONA', 6828065, 11, None),
 ('MASSACHUSETTS', 6794422, 11, None),
 ('INDIANA', 6619680, 11, None),
 ('TENNESSEE', 6600299, 11, None),
 ('MISSOURI', 6083672, 10, None),
 ('MARYLAND', 6006401, 10, None),
 ('WISCONSIN', 5771337, 10, None),
 ('MINNESOTA', 5489594, 10, None),
 ('COLORADO', 5456574, 9, None),
 ('SOUTH CAROLINA', 4896146, 9, None),
 ('ALABAMA', 4858979, 9, None),
 ('LOUISIANA', 4670724, 8, None),
 ('KENTUCKY', 4425092, 8, None),
 ('OREGON', 4028977, 7, None),
 ('OKLAHOMA', 3911338, 7, None),
 ('CONNECTICUT', 3590886, 7, None),
 ('IOWA', 3123899, 6, None),
 ('UTAH', 2995919, 6, None),
 ('MISSISSIPPI', 2992333, 6, None),
 ('ARKANSAS', 2978204, 6, None),
 ('KANSAS', 2911641, 6, None),
 ('NEVADA', 2890845, 6, None),
 ('NEW MEXICO', 2085109, 5, None),
 ('NEBRASKA', 1896190, 5, None),
 ('WEST VIRGINIA', 1844128, 5, None),
 ('IDAHO', 1654930, 4, None),
 ('HAWAII', 1431603, 4, None),
 ('NEW HAMPSHIRE', 1330608, 4, None),
 ('MAINE', 1329328, 4, None),
 ('RHODE ISLAND', 1056298, 4, None),
 ('MONTANA', 1032949, 3, None),
 ('DELAWARE', 945934, 3, None),
 ('SOUTH DAKOTA', 858469, 3, None),
 ('NORTH DAKOTA', 756927, 3, None),
 ('ALASKA', 738432, 3, None),
 ('DC', 672228, 3, None),
 ('VERMONT', 626042, 3, None),
 ('WYOMING', 586107, 3, None)]

In [ ]:
#we now go ahead and compute the ratio and order the  states by decreasing ratio 
%%sql
UPDATE Mergedtable1 
SET 'Ratio'= (GrandElectors*1.0/Population*1.0);
SELECT * FROM Mergedtable1
ORDER BY Ratio DESC;

 * sqlite://
51 rows affected.
Done.

[('WYOMING', 586107, 3, 5.118519314732634e-06),
 ('VERMONT', 626042, 3, 4.792010759661493e-06),
 ('DC', 672228, 3, 4.462771559649405e-06),
 ('ALASKA', 738432, 3, 4.0626625065002604e-06),
 ('NORTH DAKOTA', 756927, 3, 3.963394092164766e-06),
 ('RHODE ISLAND', 1056298, 4, 3.7868101615263876e-06),
 ('SOUTH DAKOTA', 858469, 3, 3.4945932817609025e-06),
 ('DELAWARE', 945934, 3, 3.1714686225466047e-06),
 ('MAINE', 1329328, 4, 3.009039153617467e-06),
 ('NEW HAMPSHIRE', 1330608, 4, 3.0061445594795764e-06),
 ('MONTANA', 1032949, 3, 2.904306020916812e-06),
 ('HAWAII', 1431603, 4, 2.794070702562093e-06),
 ('WEST VIRGINIA', 1844128, 5, 2.7113085425740512e-06),
 ('NEBRASKA', 1896190, 5, 2.636866558730929e-06),
 ('IDAHO', 1654930, 4, 2.417020659484087e-06),
 ('NEW MEXICO', 2085109, 5, 2.3979561739937817e-06),
 ('NEVADA', 2890845, 6, 2.0755177119492743e-06),
 ('KANSAS', 2911641, 6, 2.0606936088618066e-06),
 ('ARKANSAS', 2978204, 6, 2.0146370094190997e-06),
 ('MISSISSIPPI', 2992333, 6, 2.00512442966742e-06),
 ('UTAH', 2995919, 6, 2.0027243727216926e-06),
 ('CONNECTICUT', 3590886, 7, 1.949379623858847e-06),
 ('IOWA', 3123899, 6, 1.9206766928124116e-06),
 ('ALABAMA', 4858979, 9, 1.8522409749043987e-06),
 ('SOUTH CAROLINA', 4896146, 9, 1.8381804790951905e-06),
 ('MINNESOTA', 5489594, 10, 1.8216283389992047e-06),
 ('KENTUCKY', 4425092, 8, 1.8078720171241637e-06),
 ('OKLAHOMA', 3911338, 7, 1.7896689061390246e-06),
 ('OREGON', 4028977, 7, 1.7374137405103083e-06),
 ('WISCONSIN', 5771337, 10, 1.7327007589402595e-06),
 ('LOUISIANA', 4670724, 8, 1.712796560019389e-06),
 ('WASHINGTON', 7170351, 12, 1.673558240035948e-06),
 ('TENNESSEE', 6600299, 11, 1.6665911650366142e-06),
 ('MARYLAND', 6006401, 10, 1.6648905059785385e-06),
 ('INDIANA', 6619680, 11, 1.6617117443743504e-06),
 ('COLORADO', 5456574, 9, 1.6493865931260165e-06),
 ('MISSOURI', 6083672, 10, 1.6437441071773757e-06),
 ('MASSACHUSETTS', 6794422, 11, 1.6189750945702225e-06),
 ('MICHIGAN', 9922576, 16, 1.6124844999927438e-06),
 ('ARIZONA', 6828065, 11, 1.610998137832607e-06),
 ('GEORGIA', 10214860, 16, 1.566345500574653e-06),
 ('NEW JERSEY', 8958013, 14, 1.562846582160575e-06),
 ('PENNSYLVANIA', 12802503, 20, 1.562194517743913e-06),
 ('ILLINOIS', 12859995, 20, 1.5552105580134362e-06),
 ('VIRGINIA', 8382993, 13, 1.5507587803067473e-06),
 ('OHIO', 11613423, 18, 1.5499306276883225e-06),
 ('NORTH CAROLINA', 10042802, 15, 1.4936070630487388e-06),
 ('NEW YORK', 19795791, 29, 1.4649578791774474e-06),
 ('FLORIDA', 20271272, 29, 1.4305959685213637e-06),
 ('CALIFORNIA', 39144818, 55, 1.4050391037710278e-06),
 ('TEXAS', 27469114, 38, 1.3833718845099992e-06)]

In [ ]:
#computing the running sum
%%sql
SELECT 
  State,GrandElectors,Population,Ratio,
  (SELECT SUM(GrandElectors) FROM Mergedtable1 AS New)
FROM Mergedtable1 AS New

 * sqlite://
Done.

[('CALIFORNIA', 55, 39144818, 1.4050391037710278e-06, 538),
 ('TEXAS', 38, 27469114, 1.3833718845099992e-06, 538),
 ('FLORIDA', 29, 20271272, 1.4305959685213637e-06, 538),
 ('NEW YORK', 29, 19795791, 1.4649578791774474e-06, 538),
 ('ILLINOIS', 20, 12859995, 1.5552105580134362e-06, 538),
 ('PENNSYLVANIA', 20, 12802503, 1.562194517743913e-06, 538),
 ('OHIO', 18, 11613423, 1.5499306276883225e-06, 538),
 ('GEORGIA', 16, 10214860, 1.566345500574653e-06, 538),
 ('NORTH CAROLINA', 15, 10042802, 1.4936070630487388e-06, 538),
 ('MICHIGAN', 16, 9922576, 1.6124844999927438e-06, 538),
 ('NEW JERSEY', 14, 8958013, 1.562846582160575e-06, 538),
 ('VIRGINIA', 13, 8382993, 1.5507587803067473e-06, 538),
 ('WASHINGTON', 12, 7170351, 1.673558240035948e-06, 538),
 ('ARIZONA', 11, 6828065, 1.610998137832607e-06, 538),
 ('MASSACHUSETTS', 11, 6794422, 1.6189750945702225e-06, 538),
 ('INDIANA', 11, 6619680, 1.6617117443743504e-06, 538),
 ('TENNESSEE', 11, 6600299, 1.6665911650366142e-06, 538),
 ('MISSOURI', 10, 6083672, 1.6437441071773757e-06, 538),
 ('MARYLAND', 10, 6006401, 1.6648905059785385e-06, 538),
 ('WISCONSIN', 10, 5771337, 1.7327007589402595e-06, 538),
 ('MINNESOTA', 10, 5489594, 1.8216283389992047e-06, 538),
 ('COLORADO', 9, 5456574, 1.6493865931260165e-06, 538),
 ('SOUTH CAROLINA', 9, 4896146, 1.8381804790951905e-06, 538),
 ('ALABAMA', 9, 4858979, 1.8522409749043987e-06, 538),
 ('LOUISIANA', 8, 4670724, 1.712796560019389e-06, 538),
 ('KENTUCKY', 8, 4425092, 1.8078720171241637e-06, 538),
 ('OREGON', 7, 4028977, 1.7374137405103083e-06, 538),
 ('OKLAHOMA', 7, 3911338, 1.7896689061390246e-06, 538),
 ('CONNECTICUT', 7, 3590886, 1.949379623858847e-06, 538),
 ('IOWA', 6, 3123899, 1.9206766928124116e-06, 538),
 ('UTAH', 6, 2995919, 2.0027243727216926e-06, 538),
 ('MISSISSIPPI', 6, 2992333, 2.00512442966742e-06, 538),
 ('ARKANSAS', 6, 2978204, 2.0146370094190997e-06, 538),
 ('KANSAS', 6, 2911641, 2.0606936088618066e-06, 538),
 ('NEVADA', 6, 2890845, 2.0755177119492743e-06, 538),
 ('NEW MEXICO', 5, 2085109, 2.3979561739937817e-06, 538),
 ('NEBRASKA', 5, 1896190, 2.636866558730929e-06, 538),
 ('WEST VIRGINIA', 5, 1844128, 2.7113085425740512e-06, 538),
 ('IDAHO', 4, 1654930, 2.417020659484087e-06, 538),
 ('HAWAII', 4, 1431603, 2.794070702562093e-06, 538),
 ('NEW HAMPSHIRE', 4, 1330608, 3.0061445594795764e-06, 538),
 ('MAINE', 4, 1329328, 3.009039153617467e-06, 538),
 ('RHODE ISLAND', 4, 1056298, 3.7868101615263876e-06, 538),
 ('MONTANA', 3, 1032949, 2.904306020916812e-06, 538),
 ('DELAWARE', 3, 945934, 3.1714686225466047e-06, 538),
 ('SOUTH DAKOTA', 3, 858469, 3.4945932817609025e-06, 538),
 ('NORTH DAKOTA', 3, 756927, 3.963394092164766e-06, 538),
 ('ALASKA', 3, 738432, 4.0626625065002604e-06, 538),
 ('DC', 3, 672228, 4.462771559649405e-06, 538),
 ('VERMONT', 3, 626042, 4.792010759661493e-06, 538),
 ('WYOMING', 3, 586107, 5.118519314732634e-06, 538)]

In [ ]:
%%sql 
SELECT State,Population,Ratio,SUM(SELECT SUM(GrandElectors) FROM Mergedtable1)
FROM Mergedtable1

 * sqlite://
(sqlite3.OperationalError) near "SELECT": syntax error
[SQL: SELECT State,Population,Ratio,SUM(SELECT SUM(GrandElectors) FROM Mergedtable1)
FROM Mergedtable1]
(Background on this error at: http://sqlalche.me/e/14/e3q8)